astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1631641704201/work
black==21.9b0
click==8.0.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cycler==0.10.0
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1627548912727/work
joblib==1.0.1
kiwisolver==1.3.2
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1616507436989/work
matplotlib==3.4.3
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.21.2
pandas==1.3.3
pathspec==0.9.0
Pillow==8.3.2
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1630400214373/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1631892890219/work
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
regex==2021.9.24
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1631975038730/work
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
six==1.16.0
threadpoolctl==2.2.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli==1.2.1
tqdm==4.62.3
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1632313171031/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1624971809674/work
